@charset "utf-8";
@font-face {
    /* font-properties */
    font-family: YuantiSCBold;
    src:url('../fonts/Yuanti-SC-Bold.ttf');
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
font,
img,
strong,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table,
tr,
th,
td {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
}

html {
    /* font-family: ArialRoundedMTBold,ArialRoundedMTBold2; */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 100%;
    max-width: 100%;
   /*  min-width: 350px !important; */
    margin: 0 auto
}

body {
    font-family: "YuantiSCBold";
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: -1;
    font-size: 1.2em;
    background: #F9F6EC;
    margin-bottom: 3em;
    padding-top: 1em;
}

input {
    -webkit-appearance: none;
    padding-left: 3%;
}

textarea {
    -webkit-appearance: none;
}

.topSection{
    width: 100%;
    position: relative;
    text-align: center;
}

.topImage{
    text-align: center;
}

.topImage img{
    width: 70%;
}

.topSection .topTitle{
    position: absolute;
    font-size: 1.8em;
    left: 22%;
    top: 32%;
    width: 50%;
    color:#1B1464;
}

.levelImage img{
    width: 30%;
}

.levelImage{
    width: 100%;
}

.levelSection{
    position: relative;
    width: 100%;
    margin-bottom: 5%;
}

.levelLesson{
    position: absolute;
    color:#1B1464;
    font-size: 1.2em;
    left: 9.5%;
    top: 1.2em;
    text-align: center;
    line-height: 1.1em;
/*     width:20%; */
}

.levelLesson>p:nth-child(1){
    font-size: 1.2em;
}

.levelLesson>p:nth-child(2){
    font-size: 0.9em;
}

.contentSection img{
    width: 100%;
    margin-top: -0.5em;
}


@media screen and (min-width:200px) and (max-width:300px){ 
    html{
        font-size: 50%;
        margin: 0 auto
    }
}

@media screen and (min-width:300px) and (max-width:400px){ 
    html{
        font-size: 60%;
        margin: 0 auto
    }
}

@media screen and (min-width:400px) and (max-width:500px){ 
    html{
        font-size: 75%;
        margin: 0 auto
    }
}

@media screen and (min-width:500px) and (max-width:600px){ 
    html{
        font-size: 90%;
        margin: 0 auto
    }
}

@media screen and (min-width:600px) and (max-width:700px){ 
    html{
        font-size: 100%;
        margin: 0 auto
    }
}

@media screen and (min-width:700px) and (max-width:800px){ 
    html{
        font-size: 120%;
        margin: 0 auto
    }
}

@media screen and (min-width:800px) and (max-width:900px){ 
    html{
        font-size: 140%;
        margin: 0 auto
    }
}

@media screen and (min-width:900px) and (max-width:1000px){ 
    html{
        font-size: 160%;
        margin: 0 auto
    }
}

@media screen and (min-width:1000px) and (max-width:1100px){ 
    html{
        font-size: 180%;
        margin: 0 auto
    }
}

@media screen and (min-width:1100px) and (max-width:1200px){ 
    html{
        font-size: 200%;
        margin: 0 auto
    }
}

@media screen and (min-width:1200px) and (max-width:1300px){ 
    html{
        font-size: 220%;
        margin: 0 auto
    }
}

@media screen and (min-width:1200px) and (max-width:1300px){ 
    html{
        font-size: 240%;
        margin: 0 auto
    }
}
@media screen and (min-width:1300px) and (max-width:1400px){ 
    html{
        font-size: 260%;
        margin: 0 auto
    }
}
@media screen and (min-width:1400px) and (max-width:1500px){ 
    html{
        font-size: 280%;
        margin: 0 auto
    }
}
@media screen and (min-width:1500px) and (max-width:1600px){ 
    html{
        font-size: 300%;
        margin: 0 auto
    }
}

@media screen and (min-width:1600px) and (max-width:1700px){ 
    html{
        font-size: 320%;
        margin: 0 auto
    }
}
@media screen and (min-width:1700px) and (max-width:1800px){ 
    html{
        font-size: 340%;
        margin: 0 auto
    }
}
@media screen and (min-width:1800px) and (max-width:1900px){ 
    html{
        font-size: 360%;
        margin: 0 auto
    }
}
@media screen and (min-width:1900px) and (max-width:2000px){ 
    html{
        font-size: 380%;
        margin: 0 auto
    }
}


/* 当屏幕尺寸大于等于2000px时，应用下面的CSS样式 */
@media screen and (min-width: 2000px) { 
    html{
        font-size: 400%;
        margin: 0 auto
    }
} 